{% load static %}
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <b>
                <!--This is dark logo icon-->
                <img src="/static/plugins/images/logo.jpg" alt="home" class="dark-logo" />
                <!--This is light logo icon-->
                <img src="/static/plugins/images/logo.jpg" alt="home" class="light-logo" height="60" width="100" />
            </b>
        </div>
        <!-- /Logo -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                    href="javascript:void(0)"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                    class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            {% if request.user.is_staff %}
            <li style="padding: 70px 0 0;">
                <a href="{% url 'dashboard' %}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                        aria-hidden="true"></i>Dashboard</a>
            </li>
            <li>
                <a href="{% url 'products' %}" class="waves-effect"><i class="fa fa-table fa-fw"
                        aria-hidden="true"></i>Products</a>
            </li>
            <li>
                <div class="center p-20">
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-block waves-effect waves-light"
                        style="width: 200px; color: white;">Logout</a>
                </div>
            </li>
            {% elif request.user.is_active %}
            <li style="padding: 70px 0 0;">
                <a href="{% url 'profile'%}" class="waves-effect"><i class="fa fa-user fa-fw"
                        aria-hidden="true"></i>Profile</a>
            </li>
            <li>
                <a href="{% url 'user' %}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                        aria-hidden="true"></i>Dashboard</a>
            </li>
            <li>
                <div class="center p-20">
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-block waves-effect waves-light"
                        style="width: 200px; color: white;">Logout</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Left Sidebar -->
<!-- ============================================================== -->